@page
@using ContosoCrafts.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-columns">
@foreach (var product in Model.Produtos)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@product.Imagem');">
        </div>
        <div class="card-body">
            <h5 class="card-title">@product.Title</h5>
        </div>
    </div>
}
</div>